:root {
    --primary-color: #144255;
    --secondary-color: #36aee2;
    --back-color: #19587d91;
}


.container {
    background-color: white;
    padding: 100px;
}

body {
    background-color: rgb(32, 53, 73);
    font-family: 'Zain', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 40px px;
    line-height: 1.6;
    
}


h1, h2 {
    border-bottom: 2px solid var(--primary-color);
}
h2 {
    border-bottom: 1px solid var(--primary-color);
}
h3 {
    border-bottom: 0;
}
