:root {
    --primary-color: #144255;
    --secondary-color: #36aee2;
    --back-color: #19587d91;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Zain', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
    line-height: 1.6;
    
}

video {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1, h2 {
    border-bottom: 2px solid var(--primary-color);
}
h2 {
    border-bottom: 1px solid var(--primary-color);
}
h3 {
    border-bottom: 0;
}
