:root {
  --primary-color: #356688;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Zain', sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #fff;
  max-width: 1200px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 20px;
}


/* Apply box styling to headings and paragraphs */
h1, h2, h3 {
  color: var(--primary-color);
}

h1 {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 5px;
}

h2 {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 1px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p, li {
  line-height: 1.6;
  color: #333;
}

/* Style links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Center the video and make it responsive */
video {
  display: block;
  max-width: 100%;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

